body {
    padding: 50px;
    background-color: #dddddd;
}

#fluency_files { width: 350px; }

.box {
    width: 48%;
    height: 200px;
    margin-bottom: 15px;
    margin-top: 20px;
    border: 2px solid grey;
}

#subj_and_category {
    display: inline;
    margin-left: 50px;
}

#data_row, #network_row {
    /* width: 1000px; */
    min-width: 1000px;
    width: 90%;
    clear: both;
}

#data_parameters, #network_parameters {
    float: left;
    overflow-y: scroll;
}

#data_properties, #network_properties {
    float: right;
    overflow-y: scroll;
}

td { padding: 5px; }

#data_parameters th, #network_parameters th { background-color: #ffcccc; }
#data_properties th, #network_properties th { background-color: #ccccff; }

th {
    padding: 3px;
    font-size: 12pt;
    height: 30px;
    border-bottom: 1px solid grey;
}

th input { font-weight: normal; }

table { 
    padding: 5px; 
    font-size: 10pt;
    width: 100%;
}

input:disabled, select:disabled {
    color: #999;
}

#real_choose_file, #real_export_data, #real_export_network, #real_export_network_csv,
    #real_export_network_gml, #real_import_network, #real_export_data_csv { display: none; }

#loading {
    width: 40px;
    visibility: hidden;
}

input[type="number"] {
    width: 50px;
}


/* mac os hides scrollbars which is confusing. let's add them back. */

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

#question { width: 40px; }
#factor_select { display: inline-block; }
