body { overflow: hidden; }

#graph-container {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.btn {
    font-size: 15px;
    border-radius: 3px;
    margin: 5px;
}

/* remove button styling
   https://css-tricks.com/overriding-default-button-styles/
*/

.btn:hover, .btn:focus { background: #999; }
