uploads/*
output/*
dist/
py/build/
py/dist/
node_modules/nwjs-builder-phoenix/
py/.eggs/
error.log
.*.swp
py/snafu
snet/dedyne.snet
snet/BEAGLEdata.mat
snet/swow.snet
snet/swow_one.snet
snet/swow_animals.snet
.DS_Store
node_modules/.bin
.DS_Store
