<html>
<head>
    <title>snafu - semantic network and fluency utility</title>
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <script type="text/javascript" src="../lib/jquery.js" defer></script>
    <script type="text/javascript" src="../lib/rivets.js" defer></script>
    <script type="text/javascript" src="../js/model.js" defer></script>
    <script type="text/javascript" src="../js/app.js" defer></script>
    <script type="text/javascript" src="../js/controllers.js" defer></script>
</head>
<body>
    <div id="about"> v 2.4.0 </div>
    <div id="input_row">
        <input type="text" id="fluency_files" value="results_cleaned.csv">
		<input type="hidden" id="fluency_dir" value="../uploads">
        <input type="button" id="choose_file" value="Browse">
        <input type="file" id="real_choose_file"> <!-- easy hack to style file select -->
        <input type="button" id="loaddata" value="Load data"> 
        <div id="subj_and_category">

            <div id="factor_select">
                <input type="radio" name="factor_type" rv-checked="data_parameters.factor_type" value="subject" checked="checked">Subject</input><br>
                <input type="radio" name="factor_type" rv-checked="data_parameters.factor_type" value="group">Group</input>
            </div>
            
            <select id="subj" rv-value="data_parameters.subject" rv-show="data_parameters.factor_type | eq 'subject'">
                <option rv-each-subject="data_parameters.subjects">{ subject }</option>
            </select>
            <select id="group" rv-value="data_parameters.group" rv-show="data_parameters.factor_type | eq 'group'">
                <option rv-each-group="data_parameters.groups">{ group }</option>
            </select>
            
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Category:
            <select id="category" rv-value="data_parameters.category">
                <option rv-each-category="data_parameters.categories">{ category }</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" value="Reset" id="reset">
            <img src="../img/loading.gif" id="loading">
            <img id="question" src="../img/question.png">
        </div>
    </div>
    <div id="data_row">
        <div id="data_parameters" class="box">
            <table>
                <tr>
                    <th>Data Parameters</th>
                    <th><input type="button" value="Calculate Data Properties" id="calculate_data_properties" rv-enabled="data_parameters.filename"></th>
                </tr>
                <tr>
                    <td>Spellcorrect file</td>
                    <td><select id="spellfile" rv-value="data_parameters.spellfile">
                            <option rv-each-spellfile="data_parameters.spellfiles">{ spellfile }</option>
                        </select></td>
                </tr>
                <tr>
                    <td>Fluency type </td>
                    <td><select id="fluency_type" rv-value="data_parameters.fluency_type">
                            <option rv-each-fluency_type="data_parameters.fluency_types">{ fluency_type }</option>
                        </select></td>
                </tr>
                <tr rv-show="data_parameters.fluency_type | eq 'semantic'">
                    <td>Semantic cluster scheme</td>
                    <td><select id="cluster_scheme" rv-value="data_parameters.cluster_scheme">
                            <option rv-each-cluster_scheme="data_parameters.semantic_cluster_schemes">{ cluster_scheme }</option>
                        </select></td>
                </tr>
                <tr rv-show="data_parameters.fluency_type | eq 'letter'">
                    <td>Letter cluster scheme</td>
                    <td><select id="cluster_scheme" rv-value="data_parameters.cluster_scheme">
                            <option rv-each-cluster_scheme="data_parameters.letter_cluster_schemes">{ cluster_scheme }</option>
                        </select></td>
                </tr>
                <tr rv-show="data_parameters.fluency_type | eq 'letter'">
                    <td>Target letter</td>
                    <td><select id="target_letter" rv-value="data_parameters.target_letter">
                            <option rv-each-target_letter="data_parameters.target_letters">{ target_letter }</option>
                        </select></td>
                </tr>
                <tr>
                    <td>Cluster type</td>
                    <td><select id="cluster_type" rv-value="data_parameters.cluster_type">
                            <option rv-each-cluster_type="data_parameters.cluster_types">{ cluster_type }</option>
                        </select></td>
                </tr>
                <tr>
                    <td>Word frequency file</td>
                    <td><select id="freqfile" rv-value="data_parameters.freqfile">
                            <option rv-each-freqfile="data_parameters.freqfiles">{ freqfile }</option>
                        </select></td>
                </tr>
                <tr>
                    <td>Impute missing frequency</td>
                    <td><input id="freq_sub" type="number" rv-value="data_parameters.freq_sub" min="0"
                               rv-disabled="data_parameters.freq_ignore">
                        or Ignore? <input type="checkbox" rv-checked="data_parameters.freq_ignore">
                    </td>
                </tr>
                <tr>
                    <td>Word age-of-acquisition file</td>
                    <td><select id="aoafile" rv-value="data_parameters.aoafile">
                            <option rv-each-aoafile="data_parameters.aoafiles">{ aoafile }</option>
                        </select></td>
                <tr>
                    <td>Impute missing age-of-aquisition</td>
                    <td><input id="aoa_sub" type="number" rv-value="data_parameters.aoa_sub" min="0"
                               rv-disabled="data_parameters.aoa_ignore">
                        or Ignore? <input type="checkbox" rv-checked="data_parameters.aoa_ignore">
                    </td>
                </tr>
                        
                </tr>
            </table>
        </div>
        <div id="data_properties" class="box">
            <table>
                <tr>
                    <th>Data Properties</th>
                    <th>
                        <input type="button" id="export_data" value="Save Summary" rv-enabled="data_properties.num_lists" title="Export summary data shown in this box (JSON format)">
                        <input type="file" id="real_export_data" nwsaveas="data.json"> <!-- easy hack to style file select -->
                        <input type="button" id="export_data_csv" value="Save Data" rv-enabled="data_properties.num_lists" title="Export per-list metrics for further analysis (CSV format)">
                        <input type="file" id="real_export_data_csv" nwsaveas="data.csv"> <!-- easy hack to style file select -->
                    </th>   
                </tr>
                <tr>
                    <td>Total number of spelling corrections</td>
                    <td>{ data_properties.num_spell_corrections | trunc }
                        <a rv-if="data_properties.num_spell_corrections" id="spellcorrect_list" href="#">(list)</a>
                    </td>
                </tr>
                <tr>
                    <td>Avg number of lists</td>
                    <td>{ data_properties.num_lists | trunc }</td>
                </tr>
                <tr>
                    <td>Avg number of items listed</td>
                    <td>{ data_properties.avg_items_listed | trunc }</td>
                </tr>
                <tr>
                    <td>Avg number of cluster switches</td>
                    <td>{ data_properties.avg_num_cluster_switches | trunc }</td>
                </tr>
                <tr>
                    <td>Avg cluster size</td>
                    <td>{ data_properties.avg_cluster_size | trunc }</td>
                </tr>
                <tr>
                    <td>Avg word frequency</td>
                    <td>{ data_properties.avg_word_freq | trunc }<a rv-if="data_properties.avg_word_freq" id="word_freq_list" href="#"> words excluded: {data_properties.word_freq_rate}</a></td>
                </tr>
                <tr>
                    <td>Avg word age-of-acquisition</td>
                    <td>{ data_properties.avg_word_aoa | trunc }<a rv-if="data_properties.avg_word_aoa" id="word_aoa_list" href="#"> words excluded: {data_properties.word_aoa_rate}</a></td>
                </tr>
                <tr>
                    <td>Avg number of intrusions</td>
                    <td>{ data_properties.avg_num_intrusions | trunc }
                        <a rv-if="data_properties.avg_num_intrusions" id="intrusion_list" href="#">(list)</a>
                    </td>
                </tr>
                <tr>
                    <td>Avg number of perseverations</td>
                    <td>{ data_properties.avg_num_perseverations | trunc }
                        <a rv-if="data_properties.avg_num_perseverations" id="perseveration_list" href="#">(list)</a>
                    </td>
                </tr>
                
            </table>
        </div>
    </div>
    <div id="network_row">
        <div id="network_parameters" class="box">
            <table>
                <tr>
                    <th>Network Parameters</th>
                    <th><input type="button" value="Generate Network" id="generate_network" rv-enabled="data_parameters.filename"></th>
                </tr>
                <tr>
                    <td>Network method</td>
                    <td><select id="network_method" rv-value="network_parameters.network_method">
                            <option rv-each-network_method="network_parameters.network_methods">{ network_method }</option>
                        </select></td>
                </tr>
                <tr rv-show="network_parameters.network_method | hasProp 'prior'">
                    <td>Prior</td>
                    <td><select id="prior" rv-value="network_parameters.prior">
                            <option rv-each-prior="network_parameters.priors">{ prior }</option>
                        </select></td>
                </tr>  
                <tr rv-show="network_parameters.network_method | hasProp 'starting_graph'">
                    <td>Starting graph</td>
                    <td><select id="starting_graph" rv-value="network_parameters.starting_graph">
                            <option rv-each-starting_graph="network_parameters.starting_graphs">{ starting_graph }</option>
                        </select></td>
                </tr>
                <tr rv-show="network_parameters.network_method | hasProp 'cn_windowsize'">
                    <td>Window size</td>
                    <td rv-value="network_parameters.cn_windowsize"><input type="number" min="1" id="windowsize" rv-value="network_parameters.cn_windowsize"></td>
                </tr>
                <tr rv-show="network_parameters.network_method | hasProp 'cn_threshold'">
                    <td>Threshold</td>
                    <td rv-value="network_parameters.cn_threshold"><input type="number" min="1" id="threshold" rv-value="network_parameters.cn_threshold"></td>
                </tr>
                <tr rv-show="network_parameters.network_method | hasProp 'cn_alpha'">
                    <td>Alpha</td>
                    <td rv-value="network_parameters.cn_alpha"><input type="number" min="0.0" max="1.0" id="alpha" rv-value="network_parameters.cn_alpha"></td>
                </tr>
                <tr rv-show="network_parameters.network_method | hasProp 'first_item'">
                    <td>First list item</td>
                    <td><select id="first_items" rv-value="network_parameters.first_item">
                            <option rv-each-first_item="network_parameters.first_items">{ first_item }</option>
                        </select></td>
                </tr>
                <tr rv-show="network_parameters.network_method | hasProp 'jump_type'">
                    <td>Jump type</td>
                    <td><select id="jump_types" rv-value="network_parameters.jump_type">
                            <option rv-each-jump_type="network_parameters.jump_types">{ jump_type }</option>
                        </select></td>
                </tr>
                <tr rv-show="network_parameters.network_method | hasProp 'jump_probability'">
                    <td>Jump probability</td>
                    <td rv-value="network_parameters.jump_probability"><input type="number" min=0.0 max=1.0 step="0.01" id="jump_probability" rv-value="network_parameters.jump_probability"></td>
                </tr>
                <tr rv-show="network_parameters.network_method | hasProp 'priming_probability'">
                    <td>Priming probability</td>
                    <td rv-value="network_parameters.priming_probability"><input type="number" min="0.0" max="1.0" step="0.01" id="priming_probability" rv-value="network_parameters.priming_probability"></td>
                </tr>
            </table>
        </div>
        <div id="network_properties" class="box">
            <table>
                <tr>
                    <th>Network Properties</th>
                    <th>
                        <input type="button" value="View Network" id="view_network" rv-enabled="network_properties.graph">
                        <input type="button" id="import_network" value="Load Network (JSON)">
                        <input type="file" id="real_import_network">
                        <!-- easy hack to style file select -->
                    </th>
                </tr>
                <tr>
                    <th colspan="2">
                        <input type="button" id="export_network_csv" value="Save Network (CSV)" rv-enabled="network_properties.graph">
                        <input type="file" id="real_export_network_csv" nwsaveas="network.csv">
                        <input type="button" id="export_network" value="Save Network (JSON)" rv-enabled="network_properties.graph">
                        <input type="file" id="real_export_network" nwsaveas="network.json">                        
                        <input type="button" id="export_network_gml" value="Save Network (GML)" rv-enabled="network_properties.graph">
                        <input type="file" id="real_export_network_gml" nwsaveas="network.gml">
                    </th>
                </tr>
                <tr>
                    <td>Avg node degree</td>
                    <td>{ network_properties.node_degree | trunc }</td>
                </tr>
                <tr>
                    <td>Clustering coefficient</td>
                    <td>{ network_properties.clustering_coefficient | trunc }</td>
                </tr>
                <tr>
                    <td>Avg shortest path length</td>
                    <td>{ network_properties.aspl | trunc }</td>
                </tr>
                <tr>
                    <td>Density</td>
                    <td>{ network_properties.density | trunc }</td>
                </tr>
                <tr>
                    <td>Avg betweenness centrality</td>
                    <td>{ network_properties.avg_betweenness_centrality | trunc }</td>
                </tr>
            </table>
        </div>
    </div>
    <div style="clear: both; font-weight: bold;">For Questions/comments/technical support please contact zemla@wisc.edu</div>
    <span style="font-style: italic; font-size: 10pt;">Support for this software was provided by NLM T15LM007359, NIH R21AG0534676, and the Office of the VCGRE at UW-Madison with funding from the WARF.</span>
</body>
</html>
